<% layout('layouts/boilerplate') -%>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div style="margin: 5rem 0">
            <h2><%= product.title %></h2>
            <img src="<%= product.image %>" style="width: 25%; height: 25%">
            <p style="font-size: 1.3rem; padding-top: 1.2rem"><%= product.description %></p>
            <p style="font-size: 1.6rem"><strong>$<%= product.price %></strong></p>
            <a href="/products/<%= product._id %>/cart" class="large teal ui button">Add To Cart</a>
        </div>
    </div>
</div>